html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

#root {
  min-height: 100vh;
  background: linear-gradient(to bottom,
      #0f1736 0%,
      #0f183b 50%,
      #1b2651 50%,
      #1a2758 100%);
  background-attachment: fixed;
}

.app-layout {
  display: flex;
  min-height: 100vh;
  width: 100%;
}

.main-content {
  flex: 1;
  margin-left: 320px;
  padding: 20px 40px 40px 30px; 
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  box-sizing: border-box;
}

.main-content::-webkit-scrollbar {
  display: none;
}

.page-title-only {
  color: white;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 0;
  margin-left: 5px;
}